# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# YOLOv8 model weights
models/*.pt
models/*.onnx
models/*_ncnn_model/

# Node.js
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MQTT
*.db
